<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    {% if name_null %}
        <p>Please, input a name</p>
    {% endif %}

    {% if login_null %}
		<p>Please, input a login</p>
	{% endif %}

	{% if password_null %}
		<p>Please, input a password</p>
	{% endif %}

    {% if login_exists %}
		<p>The login is unusable<br>Please, come up with another login</p>
	{% endif %}

	{% if password_exists %}
		<p>The password is unusable<br>Please, come up with another password</p>
	{% endif %}

    {% if tutushka %}
		<p>The name cannot contain special characters or numbers<br>Please enter the correct name</p>
	{% endif %}



    <form action="" method="post">
    <p>
    <label for="name">Your name:</label>
    <input type="text" name="name">
    </p>
        <p>
            <label for="login">Login:</label>
            <input type="text" name="login">
            </p>
        <p>
        <label for="password">Password:</label>
        <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Sign In">
        </p>
    </form>
</body>
</html>